@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

body {
  font-family: "Montserrat", sans-serif;
}

.h-100 {
  height: 100vh !important;
}

.bold {
  font-weight: 700;
}

.form-card {
  max-width: 500px;
  margin: auto;
}

.narrow {
  max-width: 800px;
}

#test-container {
  height: 100vh;
  margin-left: -15px;
  margin-right: -15px;
  text-align: center;
  padding-top: 20%;
}

.hidden {
  display: none;
}

.vh-100 {
  height: 100vh;
}

.half-image {
  height: 100vh;
  width: 100%;
  max-width: 100%;
  object-fit: cover;
}

.usuario-row:hover {
  background-color: var(--light);
  cursor: pointer;
}

.card {
  border-radius: 15px;
}

.btn-close {
  position: absolute;
  top: 5px;
  right: 0;
}
